<aside class="side-bar-left">
  <h6 class="fw-bold d-flex justify-content-center align-items-center">
    <span>Admin</span>
    <i
      style="right: 50%; margin-right: -100px"
      class="fa-solid fa-xmark position-absolute fs-5 btn_close_sidebar hide-on-pc show-on-mobile"
    ></i>
  </h6>
  <nav>
    <div class="menu-item position-relative" type="page">
      <div class="main-menu position-relative">
        <span>
          <i class="fa-brands fa-instagram"></i>
        </span>
        <span>Trang</span>
      </div>
      <i class="fa-solid fa-chevron-left position-absolute icon_chevon"></i>
      <div style="display: none" class="sub-menu">
        <ul>
          <a
            class="sub-menu-item"
            type="product"
            href="/admin/dashboard/page/product"
          >
            <i class="fa-solid fa-caret-right"></i>
            <span>Sản phẩm</span>
          </a>
          <a
            class="sub-menu-item"
            type="news"
            href="/admin/dashboard/page/news"
          >
            <i class="fa-solid fa-caret-right"></i>
            <span>Tin tức</span>
          </a>
          <a class="sub-menu-item" href="/admin/dashboard/page/policy">
            <i class="fa-solid fa-caret-right"></i>
            <span>Chính sách</span>
          </a>
          <a class="sub-menu-item" href="/admin/dashboard/page/q&a">
            <i class="fa-solid fa-caret-right"></i>
            <span>Hỏi đáp</span>
          </a>
          <a class="sub-menu-item" href="/admin/dashboard/page/cooperate">
            <i class="fa-solid fa-caret-right"></i>
            <span>Hợp tác</span>
          </a>
          <a
            class="sub-menu-item"
            href="/admin/editLandingPage/vi"
            target="_blank"
            aria-describedby="edit ding"
          >
            <i class="fa-solid fa-caret-right"></i>
            <span>Giao diện</span>
          </a>
        </ul>
      </div>
    </div>
  </nav>
  <div class="logout_btn rounded-pill">
    <i class="fas fa-sign-out-alt"></i>
    <span>
      <a href="/admin/logout">Đăng xuất</a>
    </span>
    <div class="bg-option"></div>
  </div>
</aside>
