<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dashboard admin</title>
  
    <%- include('../partials/head.ejs') %>

  </head>
  <style>
/* HTML: <div class="loader"></div> */
.loader {    
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}
  </style>
  <body>
    <div class="wrapper pb-5">
      <div id="overlay" class="d-none">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
      <div class=" d-flex">
        <%- include('../partials/sidebar.ejs') %>
        <div class="right-content d-flex justify-content-center align-items-center"
         style="flex: 1; height: 100vh;">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/scriptDashboard.ejs') %>
  <script src="/js/dashboard.js"></script>
  <script src="/js/sidebar.js"></script>
</html>
